<% if @cart.order_preview != nil %>
<h2 class="desktop_page_title"> Shipping Address </h2>
    <%= form_for(@order_preview, :url => {:controller => "order_previews", :action => "create"}) do |f| %>
      <% if @order_preview.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_preview.errors.count, "error") %>
          prohibited this order_preview from being saved:</h2>
     
          <ul>
          <% @order_preview.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  <div id="shipping_table_wrap">
    <table id="shipping_info_table">
      <tr class="shippingrow">
            <%= f.hidden_field :permalink, value: 12 %>
        <td class="ship_col1">
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, value: "#{@cart.order_preview.name}"%>
          </div>
        </td>
        <td class="ship_col2">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, value: "#{@cart.order_preview.email}"%>
          </div>
        </td>
      </tr>
      <tr class="shippingrow">
        <td class="ship_col1">
          <div class="field">
            <%= f.label :address %><br />
            <%= f.text_field :address, value: "#{@cart.order_preview.address}"%>
          </div>
        </td>
        <td class="ship_col2">
          <div class="field">
            <%= f.label :address2 %><br />
            <%= f.text_field :address2, value: "#{@cart.order_preview.address2}"%> 
          </div>      
        </td>
      </tr>
      <tr class="shippingrow">
        <td class="ship_col1">
          <div class="field">
            <%= f.label :city %> <br />
            <%= f.text_field :city, value: "#{@cart.order_preview.city}"%>
          </div>
        </td>
        <td class="ship_col2">
          <div class="field">
            <%= f.label :state %><br />
            <%= f.collection_select :state, State.all, :name, :name, value: "#{@cart.order_preview.state}"%>
          </div>
        </td>
      </tr>
      <tr class="shippingrow">
        <td class="ship_col1">
            <div class="field">
            <%= f.label :zip %> <br />
            <%= f.text_field :zip, :value => "#{@cart.order_preview.zip}" %>
          </div>
        </td>
            <%= f.hidden_field :country, :value => 'US' %>
            <%= f.hidden_field :total_units, :value => @cart.total_units %>
            <%= f.hidden_field :width, value: @cart.width %>
            <%= f.hidden_field :length, :value => @cart.length %>
            <%= f.hidden_field :height, :value => @cart.height %>
            <%= f.hidden_field :weight, value: @cart.total_weight %>
      <tr class="shippingrow">
        <td class="ship_col_full">
          <div class="actions">
            	<%= f.submit 'Update Address', class: "btn btn-primary" %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
