
<div id="contentwrap">
	<div id ="content">
	<% if @cart.order.nil? %>
		<% if @cart.line_items.count == 0 %>
		<div id="emptycartmsg">
			<h2> Your Cart is Empty!</h2> <br>
			<%= link_to "Go To Store",products_path %>
		</div>
		<% else %>
		<h2>Your Cart</h2>
			<div id="cartlist">

			<ul>
			  	<table>
			  		<tr class="total_line">
	    				<td class="img"></td>
	    				<td class="header_cart_item_cart_qty"> QTY:</td>
	    				<td class="header_cart_item_cart_item"> Name:</td>
	    				<td class="header_cart_description">Description:</td>
	    				<td class="header_cart_item_cart_price">Price: </td>
	  				</tr>  
			  <% @cart.line_items.each do |item| %>
			
			  		<tr class="top_cart">
			  			<td class="img"><%= image_tag(item.product.image_url(:thumb)) %> </td>
							<%= simple_form_for(item) do |f| %>
					    		<td class="cart_qty"> 
					    		<%= f.input :quantity, :value => "#{item.quantity}", :label => false %>
					    		</td>
				    	<td class="cart_item"> <%= link_to "#{item.product.title}", product_path(:id => item.product_id) %>
				    	</td>
				    	<td class="cart_description"> <%= truncate item.product.description, length:160 %> <%= link_to "read more", product_path(:id=> item.product_id) %> </td>	
				    	<td class="cart_price"><%= (item.product.price) * (item.quantity) %> </td>
				    	<td class="cart_remove_button"><%= f.button :submit, 'Update Quantity',class: "btn btn-primary" %></td>
				    	<% end %>
				    </tr>
			  	<% end %>
			  		<tr class="total_line">
	    				<td class="img"></td>
	    				<td class="bottom_cart_qty"></td>
	    				<td class="bottom_cart_item"> </td>
	    				<td class="bottom_cart_description">Total:</td>
	    				<td class="bottom_cart_price"> $<%= @cart.sub_total %> </td>
	    				
	    				<% if @cart.order_preview == nil %>
	    					<td class="bottom_cart_checkout_button"> <%= button_to 'Begin Checkout', new_cart_order_preview_path,  :method => :get, class: "btn btn-success" %> </td>
	    				<% else %>
	    					<td class="bottom_cart_checkout_button"> <%= button_to 'Resume Checkout', cart_order_preview_path, :method => :put, class: "btn btn-success" %> </td>
	    				<% end %>
	  				</tr>
	  				<tr class="total_line">
	    				<td class="img"></td>
	    				<td class="bottom_cart_qty"></td>
	    				<td class="bottom_cart_item"> </td>
	    				<td class="bottom_cart_description"></td>
	    				<td class="bottom_cart_price"> </td>
	    				<td class="bottom_cart_remove_button"> <%= button_to 'Empty cart', cart_path, :method => :delete, class: "btn btn-danger" %> </td>
	  				</tr>
	  			</table>
			</ul>
			</div>
				<%= link_to 'Back', products_path %>

			<% end %>
		<% else %>
		<div id="emptycartmsg">
			<h1> Thank You For Your Recent Purchase! </h1> <br> 
			<h2> If you'd like to make another one, click below </h2><br>
			 <%= button_to 'Empty cart', cart_path, :method => :delete, class: "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>

