<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
</head>
  <body>
    <div id="content">
        <div id="darkcontainer"> 
            <%= image_tag('tippedlogods.png', size: "510x202") %>
        </div>
            <h1>Your Order</h1>
            <hr>
            <p>
            Name: <%= @order.name %>  <br>
            Address: <%= @order.address %>  <br>
            Address2: <%= @order.address2 %>  <br>
            City: <%= @order.city %>  <br>
            State: <%= @order.state %>  <br>
            Zip: <%= @order.zip %>  <br>

            Items:

            <% @order.cart.line_items.each do |item| %>
                <%= item.product.title %>
                <%= item.quantity %>
                <% end %>
            </p>
    </div>
    </body>
</html>