<div id="content">
	<div id="showimage">
		<%= image_tag(@product.image_url(:show).to_s) %> <br>
	</div>	
	<table class="showproduct">
     <thead>
      <tr>
 
      </tr>
     </thead>

    <tbody>
        <tr>
          <td class="title"><strong><%= @product.title %></strong></td>
        </tr>
        <tr>
        	<td class="description"><%= @product.description %> </td>
        </tr>
    </tbody>
  </table>
  <div id="price"> 
  	<p>Price: $<%= @product.price %></p>
  </div>
  <div id="quantitydropdown">
    <div id="qlabel"> 
      Quantity: 
    </div>
    <div id="qdropdown">
      <%= select_tag "favorite_color", '<option value="1">1</option><option value="2">2</option><option value="3">3</option>'.html_safe %>  
    </div>
  </div>
  <div id="addtocartbutton">
		<%= button_to 'Add to Cart', line_items_path(:product_id=> @product), class: "btn btn-primary" %>
  </div>
 

<!--   	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
 -->
			


</div>
