<div id="content">
	<div id="showimage">
		<%= image_tag(@product.image_url(:show).to_s) %> <br>
	</div>	
	<table class="showproduct">
     <thead>
      <tr>
 
      </tr>
     </thead>

    <tbody>
        <tr>
          <td class="title"><strong><%= @product.title %></strong></td>
        </tr>
        <tr>
        	<td class="description"><%= @product.description %> </td>
        </tr>
    </tbody>
  </table>
  <%= form_for(( @cart.line_items.find_by(product_id: @product.id) || LineItem.new)) do |f| %> 
    <%= f.hidden_field :product_id, value: @product.id %>

  <div id="price"> 
  	<p>Price: $<%= @product.price %></p>
  </div>
  <div id="quantitydropdown">
    <div id="qlabel"> 
      Quantity: 
    </div>
    <div id="qdropdown">
      <%= f.select :quantity, options_for_select([1,2,3]) %> 
    </div>
  </div>
  <div id="addtocartbutton">
	 <%= f.submit 'Add to Cart', class: "btn btn-primary" %>
              <% end %>
  </div>
 

<!--   	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
 -->
			


</div>
