<div id="contentwrap">
<div id="content">  
<% if current_admin.nil? %>
  <div id="no_access">
  <h2> This Page Is Reserved For Admins <h2>
  </div>
  <% else %>
<%= simple_form_for(@line_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_id %>
    <%= f.input :cart_id %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
<% end %>
</div>
</div>
