<!DOCTYPE html>
<html lang="en">
  <head><!--  -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.9.1.min.js" %>
    <%= javascript_include_tag "jquery.cycle2.js" %>
    <%= javascript_include_tag "jquery.cycle2.center.js" %>
    <%= javascript_include_tag "bootstrap.js" %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tippedmixology" %></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
        <script>
            $(function(){
                $("#slides").slides({
                    width:1065,
                    height:500,
                    play: 5000
                });
            });
        </script>
        <script type="text/javascript">
            function toggle(Info) {
                var CState = document.getElementById(Info);
                CState.style.display = (CState.style.display != 'block')
                       ? 'block' : 'none';
                }
        </script>
        <script>
            $(window).ready(function(e){
                  $.each($('div.progress-bar'),function(){
                    $(this).css('width', $(this).attr('aria-valuetransitiongoal')+'%');
                  });
            });
        </script>
        <script>
        $(function() {
            $('.alert').delay(100).fadeIn(1000, function() {
                });
            });
        
        </script>
        </script>
        <script>
        $(document).ready(function(){
        $('.alert').slideDown(1000);});
         $(document).ready(function(){
        $('.aldert').slideUp(2000);});
        </script>
        <script>
         $('document').ready(function() {
            setTimeout(function() {
            $('.alert').slideUp();
                }, 5000);
        });
        </script>
  </head>
  <body>
    <div id="darkcontainer"> 
        <%= link_to image_tag('tippedlogods.png'), root_path %>
    </div>
    <%= render 'partials/header' %>
        <% flash.each do |key, value| %>
             <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
            <%= yield %>
    <%= render 'partials/mail_subscriber' %>
    <div class="footer">
        <p><li>&copy; Tipped Mixology 2014</li></p>
    </div>

  </body>
</html>
